.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.task-completed {
    opacity: .5;
}

.task{
    font-weight: bold;

}

.filter-header{
    font-size: 20px;
    margin-left: 20px;
    color: white;
    background-color: cornflowerblue;
    display: inline-block;
    border-radius: 50%;
}

.button-active{
    background-color: cornflowerblue;
    color: white;
}